* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: #F7F6F4;
}


#gallery img {
    width: 100%;
}


/**************baggrundsfarver start*************/

#contact {
    background-color: #655C53;
}

#footer {
    background-color: #342E29;
}


/**************baggrundsfarve slut*************/



/**************skrift start********/

/**************skrift slut ********/





/**************flex start********/

/**************flex slut********/






/**************animationer start********/

/**************animationer slut********/




/**************style start********/

/**************style slut********/
