* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background-color: #F7F6F4;
}

html {
    scroll-behavior: smooth;
}





/*************************** Navigations bar *************************/

nav {
    overflow: hidden;

    background-color: #655C53;

    top: 0;
    left: 0;

    position: fixed;

}

nav a {

    float: left;
    font-size: 1.4vw;
    font-family: sans-serif;
    color: #655C53;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    margin: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
    padding: 0.5vw;
}

.dropdown .burger_icon {
    font-size: 2vw;
    font-family: sans-serif;
    border: none;
    outline: none;
    color: #F7F6F4;
    padding: 1vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .burger_icon {
    background-color: #655C53;
    color: #342E29;


}

.menu_container {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
}

.menu {
    display: none;
    position: relative;
    background-color: #655C53;
    width: 50vw;
    z-index: 1;

    flex-grow: 1;
}

.menu_container img {
    z-index: 1;
    flex-grow: 1;

    width: 25%;
}

.menu a {
    float: none;
    font-size: 5vw;
    color: #F7F6F4;
    padding: 1vw 1.2vw;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu a:hover {
    color: #342E29;
}

.menu_logo {

    display: none;

    background-image: url("billeder/hvidstol.jpg");

    position: absolute;
    height: 50%;
    width: 50%;
}


.dropdown:hover .menu {
    display: block;
}

.dropdown:hover .menu_logo {
    display: block;
}


/*************************** landingpage ****************************/

#video {
    width: 100vw;
    height: 30vw;
}

#video_content {
    position: relative;
}

video {
    width: 100%;
}


/*************************** Galleri ********************************/

#gallery .col {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;

}

#gallery .slide {
    flex-basis: 33vw;
    flex-grow: 2;
}

#gallery .slide,
.slide img {
    width: 100%;
    min-width: 100%;
    /* needed so Firefox doesn't make img shrink to fit */
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: none;
}

.next {
    right: 0;
}

/**************baggrundsfarver start*************/

#contact {
    background-color: #655C53;
}

#footer {
    background-color: #342E29;
}

@media only screen and (max-width: 600px) {
    #gallery .col {
        height: 50vh;
        max-height: 100vh;
    }

    .prev,
    .next {
        display: block;
    }
}

/**************baggrundsfarve slut*************/



/**************skrift start********/
/* Tekst */

p {
    font-family: 'Cochin';
    font-size: ;
    text-transform: ;
}

h1 {
    font-family: 'Bangla MN';
    font-size: ;
    text-transform: ;
}

#landingpage p {
    color: #655C53;
}

#landingpage h1 {
    color: #655C53;
}


#gallery h1 {
    color: #655C53;
}

#about p {
    color: #655C53;
}

#about h1 {
    color: #655C53;
}


#contact p {
    color: #F7F6F4;
}

#contact h1 {
    color: #F7F6F4;
}


#footer p {
    color: #948F8A;
}

#footer h1 {
    color: #948F8A;
}

/**************skrift slut ********/





/**************flex start********/

/**************flex slut********/






/**************animationer start********/

/**************animationer slut********/




/**************style start********/

/**************style slut********/
